.right-box{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    background: #ffffff;
    flex-direction: column;
    padding: 45px 32px;

    
}
.auth-image {
    align-items: center;
    display: flex;
    justify-content: center;
}